#container {
    width: 50vw;
    height: 10vh;
    font-size: 2.5vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    
}


p {
    color: white;
    text-align: center;
    line-height: 10vh;
}