:host {
    display: block;
    padding: 1% 2%;
    color: white;
    background-color: violet;
    font-size: 2vw;
    width: auto;
    height: auto;
    position: fixed;
    right: 10%;
    top: 10vh;
    z-index: 20;
    border-radius: 0 0 25px 25px;
}


@media screen and (max-width: 800px) {
    :host {
        font-size: 4vw;
    }
}