

<app-filter (formEvent)="updateFilter($any($event))" [minPrice]="realMinPrice" [maxPrice]="realMaxPrice" [fromDate]="realFromDate" [toDate]="realToDate" [minRating]="realMinRating" [maxRating]="realMaxRating"></app-filter>

<!-- <app-create-new (formEvent)='create($any($event))'></app-create-new> -->

<!-- <a routerLink="/create-new"> -->
<a routerLink="/create-new">
    <div class="icon-container">
        <span class="material-symbols-outlined">
            add
        </span>
    </div>
</a>




<div id="cards-container">
    
    <div class="card" *ngFor="let course of courses | searchPipe: conditionName: conditionCountry: conditionFromDate: conditionToDate: conditionMinPrice: conditionMaxPrice: conditionMinRating: conditionMaxRating as selected ; let i = index">
       
        <div ngClass="additional-border-circle" 
        [ngStyle]="{'border': (selected | selectMinMax: course) === -1 ? '6px solid #A1C281' : ((selected | selectMinMax: course) === 1 ? '6px solid red' : 'none')}">
        <a routerLink="/course/{{course.id}}">
            <div class="img-container">
                <img src={{course.imgSrc}}>
            </div>
        </a>
        </div>
        <div class="right">
            <div class="line"><h4>Nazwa: </h4> {{course.name | uppercase}}</div>

            <div class="line"><h4>Lokacja: </h4> {{course.country | uppercase}}, {{course.location}}</div>

            <div class="line"><h4>Kiedy: </h4> od {{course.fromDate | date:'shortDate'}} do {{course.toDate | date:'shortDate'}}</div>

            <div class="line"><h4>Cena: </h4> {{course.price | currency: currencyType}} </div>

            <ng-component *ngIf="course.availableSpots - course.reserved > 0; then available; else noavailable"></ng-component>
            <ng-template #available>
                <div class="line"><h4>Ilość dostępnych miejsc: </h4> 
                    <span [ngStyle]="{'color': course.availableSpots - course.reserved <= 3 ? 'red' : 'black'}">
                        {{course.availableSpots - course.reserved}}
                    </span>
                </div>
            </ng-template>
            <ng-template #noavailable>
                <div class="line"><h4>Ilość dostępnych miejsc: </h4> <span style="color: red;">BRAK</span> </div>
            </ng-template>

            <ng-component *ngIf="course.amountOfRates === 0; then zero; else rating"></ng-component>
            <ng-template #zero>
                <div class="line"><h4>Ocena: </h4> <span style="color: red;">BRAK</span>  </div>
            </ng-template>
            <ng-template #rating>
                <div class="line"><h4>Ocena: </h4> {{course.rating}} <span class="fa fa-star" style="color: orange"></span> / 5 <span class="fa fa-star" style="color: orange"></span>, ({{course.amountOfRates}}) </div>
            </ng-template>
            <a routerLink="/modify/{{course.id}}">
                <div class="edit-icon">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </div>
            </a>
            <!-- <a routerLink="/course/{{course.id}}"><div class="more-info">
                Więcej informacji 
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span></div></a> -->
            <button class="delete" (click)="delete(course)">Usuń wycieczkę</button>

        </div>
        
    </div>

    <div class="card">
    </div>
</div>

