<div class="authBlock">
    <h3>Sign Up/In</h3>
    <div class="formGroup">
      <input
        type="text"
        class="formControl"
        placeholder="Username"
        #userEmail
        required
      />
    </div>
    <div class="formGroup">
      <input
        type="password"
        class="formControl"
        placeholder="Password"
        #userPassword
        required
      />
    </div>
    <div class="formGroup">
      <button
        class="btn btnPrimary"
        (click)="
            signup(userEmail.value, userPassword.value)
        "
      > Sign up </button>
      <button
          class="btn btnPrimary"
          (click)="
              signin(userEmail.value, userPassword.value)
          "
        > Sign in </button>
    </div>
  </div>

  <div class="passes">
    // Konta adminów: <br>
    // admin@admin.com <br>
    // admin2@admin2.com<br>
    // Konto Managera:<br>
    // menago@menago.com<br>
    // Konto Customera:<br>
    // customer@customer.com<br>
    // Hasło (jedno do wszystkich kont):<br>
    // 123456<br>
    // WAZNE! DANE TRZEBA WPROWADZIĆ RĘCZNIE (NIE KOPIOWAĆ)
  </div>