
<div id="img-container">
    <img src="https://i.content4travel.com/cms/img/u/kraj/1/polska_0.jpg?version=1">
</div>
<div id="square-container">
    <div class="square-tile">
        <h3>O nas</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit accusantium quis et quod voluptate inventore? Veritatis totam incidunt delectus accusamus officia omnis repudiandae maxime voluptatem amet eum praesentium iste velit est quia perferendis commodi nisi tempore optio cum ullam dolorem reprehenderit voluptatibus, placeat dignissimos! Voluptate excepturi nostrum a ipsa et!
    </div>
    <div class="square-tile">
        <h3>Kontakt</h3>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam inventore nisi sint quia, rerum, repellendus eaque voluptatibus asperiores saepe quidem odio voluptatum dignissimos modi tenetur quaerat qui porro aliquid neque!
    </div>
    <div class="square-tile">
        <h3>Lokalizacja</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.974255577953!2d19.9104095157176!3d50.06804377942448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1sen!2spl!4v1669818019120!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>